{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h2>Привет! Это послание от автора</h2>
<p>
  <p>
    Немного позже я попробую использовать здесь разные инструменты верстки
    <p>А пока — лови фотодиптих про самого печального белого кота Тбилиси:</p>
  </p>
    <img src="https://lh3.googleusercontent.com/ZfBLOQSvdhtIB-M9aVbZoh03KRxUKHE-gMX5PPQR3OtMwoTBZSVymcAclBFzoLgUwjBzqH45gDk90lcu_PwqfEfHF3PFGtl6MHhRtai8z_calwHWe-XsWJNZWuOKOTdLlDnjIIIHS4ygtJzkDYwbFE4tV5liWB22dLenHbykcMrb0cTPIpQDRaUFiLrvOUQAkmQaSe439CXOcxjJM-3evxHXfW-EMoBN_cqfbGWWrOnzYHPi_-LIuGxI75omtqN_qLogNzHR3u-pxR-kXe5lwmcGnbksV17ljZM2R7XX2alJ4g1WqhaIqIS_6iR7px2JNqGbv4De0uiI_KQ2s8wrUOcbu9PyJHe7TzYgl5yLKe6ygYoD2UjBeNKeeRwATdybgkZNhJpxC_dwmdPZeXhGAbOjOu4UCgDL3j9kqhhKxmlDyqRVb9bGHK7H8LEytmYTq2mjNOeyYmBXrn_PVvm92oUKwKHhb0YB2GSBA6qUySHpy64loKz47pck1a1FV2e-Nd_HdXZqdIU1hgV0WT5Md5xd-TJJwcRhjEF7OvqOTjyOYYhOcgOjIlyr9RSAl5GxqiN2h0pp_fPQB1yM7uXE3Q7WcpLsZukiQwuSnPlsbHGmvVRLfV6N5BeqVonYL5buR90hSd1iVRTR398aEyrGM-fCICoL4yJJctflLI_JuUh_N3Ucfzr_RvxkIpVAhPS6Nj9Ps4hRDTxg7V14W4PlLdWk=w708-h943-no?authuser=0" width="380" height="500"> 
    <img src="https://lh3.googleusercontent.com/pw/AM-JKLVKHGzyGwpaMJWtHr-evVilox4F9HPQogpf80wvV_AtTMvE9Ms_hGBc_VXeiWq1PhkEfVIK-yEU4uzxMpWv24s_701DMoFrLkF3toQiNFPPuqyc0hsz97ZC8pPdHBVMjdadk4tBEO-T8YAy5ZfXwezzHA=w708-h943-no?authuser=0" width="380" height="500"> 
  </p>
{% endblock %}